body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./backgrd.jpg');
    background-size: cover;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}